.character {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: antiquewhite;
  background-color: blueviolet;
  padding: 5px;
}

.character:hover {
  background-color: powderblue;
  transition: background-color .5s;
  cursor: pointer;
}

ul{
  margin: 0 auto;
  width: 70%;
}

aside{
  text-align: center;
  color: antiquewhite;
  background-color: black;
}

li{
  list-style: none;
  padding: 5px;
}

body{
  background-image: url('./background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}